		body {
			margin: 0;
    		padding: 0;
    		font-family: 'Montserrat', sans-serif;
    		overflow-x: hidden;
		}
		.flexbox {
			display: flex;
			position:relative;
		}
		.a {
			background-color: rgba(63, 119, 188, 0.75);
			width:30%;
			height: 100%;
			float:left;
		}
		.b {
			background-color: rgb(63, 119, 188);
			width: 70%;
			height:100%;
			float:left;
		}
		.cimg {
		    max-width: 18%;
		    /*border-radius: 50%;*/
		    z-index: 999;
		    border: 3px solid white;
			position:absolute;
			top:30%;
			left:21%;
			box-shadow: 0 6px 12px 0 hsl(0, 8%, 34%);
		}
		.cimg:hover{
			transform:translateY(-3px);
		}
		.card {
			background: #fff;
			max-width: 63%;
			padding: 5px;
			margin-top: 20px;
			box-shadow: 0 4px 10px 0 hsl(0, 0%, 0%);
			margin-left: 11%;
			margin-bottom: 20px;
			margin-top: 10%;
		}
		.card:hover {
			box-shadow: 0 8px 8px 0 hsl(0, 8%, 10%);
			transform:translateY(-1px);
		}
		#description{
			color:rgb(125, 106, 102);
		}
		.cta {
			padding-top: 5px;
			padding-bottom: 5px;
			margin-top: 10px;
			margin-bottom: 10px;

		}
		.intro {
			padding-left: 30px;
			padding-right: 30px;
			font-weight:100;
		}
		.intro>p {
			line-height: 25px;
		}
		.footer-social {
		    margin: 0;
		    padding: 10px 0;
		    text-align: center;
		}
		.footer-social>li {
		    display: inline-block;
		    margin: 15px 8px;
		    text-align: center;
		}
		.social {
			margin-left: -30%;
		}
		.footer-social a {
		    border: 2px solid #428bca;
		    display: inline-block;
		    font-size: 18px;
		    height: 43px;
		    line-height: normal;
		    padding-top: 8px;
		    text-align: center;
		    width: 43px;
		}
		@media(max-width:900px) {
			.cimg {max-width: 150px;
				margin-top: 2%;
				margin-left: 40%;
				position: relative;
				top:0;
				left:0;
				bottom: 0;
				right: 0;}
				.card {
					max-width: 100%;
					margin-left: 3%;
					margin-top: 5%;
				}
			.a {
				display: none;
			}
			.b {
				width: 100%;
			}
			.flexbox {
				height: 110%;
			}
		}
		@media(max-width:760px) {
			.cimg {
				margin-left: 33%;
			}
			.social {
				margin-left: 0% !important;
			}
			.flexbox {
				height: 125%;
			}
			.card {
				margin-top: 5%;
			}
		}